
.card.quiz {
    width: 330px;
    background-color: white;
}
.card-body.quiz{
    width: 320px;
}

.level {
    color: #FFF;
    font-size: 1.3em;
    background-color: #9e9478;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 30px;
}

.btn.answer {
    background-color: #dddcd6;
    color: #333333;
    width: 330px;
    height: 70px;
    font-size: 1.3em; /* フォントサイズ */
    text-align: center;
    margin: 0.2em 1em 0.2em 1em; /* 前後の隙間 */
    padding: 0.8em 1em 0.8em 1em;

}

.btn.answer:hover {
    background-color: #9e9478;
    color: #FFF;
    font-size: 1.3em; /* フォントサイズ */
    text-align: center;
    vertical-align: middle;
    width: 330px;
    height: 70px;
    margin: 0.2em 1em 0.2em 1em; /* 前後の隙間 */
    padding: 0.8em 1em 0.8em 1em;
}

