@tailwind base;
@tailwind components;
@tailwind utilities;

.policy{
    background-color: #3e8b94;
    height: 70px;
    text-align: center;
    color:#eaf4fc;
    padding: 0.2em 5em 0.8em 5em;
    border-radius: 8px;
}

.btn-primary.btn-wide {
    background-color: #dddcd6;
    width: 380px;
    height: 70px;
    font-size: 1em; /* フォントサイズ */
    text-align: center;
    margin: 0.2em 1em 0.2em 1em; /* 前後の隙間 */
    padding: 0.8em 5em 0.8em 5em;
}

.btn-primary.btn-wide:hover {
    background-color: #9e9478;
    color: #FFF;
    font-size: 1em; /* フォントサイズ */
    text-align: center;
    width: 380px;
    height: 70px;
    margin: 0.2em 1em 0.2em 1em; /* 前後の隙間 */
    padding: 0.8em 5em 0.8em 5em;
}

.radiobutton + label {
    background-color: #dddcd6;
    display: inline-block; /* テキストに応じて幅を可変させるため */
    width: 380px;
    height: 70px;
    margin: 0.2em 1em 1em 1em; /* 前後の隙間 */
    padding: 0.8em 5em 0.8em 5em; /* 塗りの余白 */
    font-size: 1em; /* フォントサイズ */
    text-align: center;
    color: #2E2F30; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 8px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
    font-weight: bold;
}



.radiobutton:checked + label {
    background-color: #9e9478;
    display: inline-block; /* テキストに応じて幅を可変させるため */
    width: 380px;
    height: 70px;
    margin: 0.2em 1em 1em 1em; /* 前後の隙間 */
    padding: 0.8em 5em 0.8em 5em;/* 塗りの余白 */
    font-size: 1em; /* フォントサイズ */
    color: #FFF; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 8px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
    font-weight: bold;
}

.radiobutton:active + label {
    background-color: #9e9478;
    display: inline-block; /* テキストに応じて幅を可変させるため */
    width: 380px;
    height: 70px;
    margin: 0.2em 1em 1em 1em; /* 前後の隙間 */
    padding: 0.8em 5em 0.8em 5em;/* 塗りの余白 */
    font-size: 1em; /* フォントサイズ */
    color: #FFF; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 8px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
    font-weight: bold;
}