@tailwind base;
@tailwind components;
@tailwind utilities;

.all {
    color: #333333;
}

.btn-primary.btn-wide {
    background-color: #dddcd6;
    color: #333333;
    width: 400px;
    height: 90px;
    font-size: 1.5em; /* フォントサイズ */
    text-align: center;
    margin: 0.2em 1em 0.2em 1em; /* 前後の隙間 */
    padding: 0.8em 1em 0.8em 1em;
}

.btn-primary.btn-wide:hover {
    background-color: #9e9478;
    color: #FFF;
    font-size: 1.5em; /* フォントサイズ */
    text-align: center;
    vertical-align: middle;
    width: 400px;
    height: 90px;
    margin: 0.2em 1em 0.2em 1em; /* 前後の隙間 */
    padding: 0.8em 1em 0.8em 1em;
}


